extends ./layouts/NL/_layout.pug
include mixins/_c-promo
include mixins/_c-info
include mixins/_A-info
include mixins/_A-promo
include mixins/_promo-prijs
include mixins/_legals

block content
    row.line
        columns(small="12" large="12")
            a(href="https://www.collishop.be/e/fr/cs/barbecue-bbq" target="_blank" xt="SPCLICKSTREAM" name="bbq")
                img(src="assets/img/mail/bbq-nl.jpg")    
    row.line
        h5(style="margin-top: 10px; color:#0098da!important;").centerText.blue Geniet van het gemak van een gas- of elektrische barbecue                                                                          
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/barbecook-gasbarbecue-siesta-612-zilver-909171" target="_blank" xt="SPCLICKSTREAM" name="barbecook")
                img(src="assets/img/mail/barbecook-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Meer info ›     
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/gasbarbecues" target="_blank" xt="SPCLICKSTREAM" name="gas")
                img(src="assets/img/mail/gas-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/weber-elektrische-barbecue-q-1400-dark-grey-909579" target="_blank" xt="SPCLICKSTREAM" name="weber")
                img(src="assets/img/mail/weber-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Meer info ›     
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/elektrische-barbecues" target="_blank" xt="SPCLICKSTREAM" name="elek")
                img(src="assets/img/mail/elek-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
    row.line
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/nl/cs/slapen-promoties" target="_blank" xt="SPCLICKSTREAM" name="slapen")
                img(src="assets/img/mail/slapen-nl.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/nl/cs/elektro-promoties" target="_blank" xt="SPCLICKSTREAM" name="elektro")
                img(src="assets/img/mail/elektro-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/nl/cs/promoties-dieren" target="_blank" xt="SPCLICKSTREAM" name="dieren")
                img(src="assets/img/mail/dieren-nl.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/nl/cs/overzicht-acties" target="_blank" xt="SPCLICKSTREAM" name="promoties")
                img(src="assets/img/mail/promoties-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk het overzicht ›
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/938047-172-droogtoren-met-3-droogvlakken-2747207" target="_blank" xt="SPCLICKSTREAM" name="droogtoren")
                img(src="assets/img/mail/droogtoren-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Meer info › 
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/huishouden-promoties" target="_blank" xt="SPCLICKSTREAM" name="huishouden")
                img(src="assets/img/mail/huishouden-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›  
    row.line
        p(style="color: #0098da; font-size: 16px; text-align: center; margin-top: 10px; margin-bottom: 2px;").centerText Pssst … heb je het al gehoord? <br/>Van 24/04 t.e.m. 07/05/2019 zijn het weer <strong>Kolossale Kortingsdagen</strong>!  
        p(style="color: #FF2D82; font-size: 18px;text-align: center;").centerText <strong>Met kortingen tot -50% op meer dan 2000 artikels!</strong>

    +legals(
       ["Actie -10% op Barbecue geldig van 10/04 t.e.m. 23/04/2019.", 
       "Acties en promoprijzen geldig van 10/04 t.e.m. 23/04/2019. Niet cumuleerbaar met andere acties..",
       "Weekaanbieding geldig van 15/04 t.e.m. 21/04/2019, zolang de voorraad strekt."]
    )