extends ./layouts/_layout.pug
include mixins/_tile
include mixins/_tile-J-test
include mixins/_legals

block content
    row
        columns(small="12" large="12")
            h5.centerText Lorem ipsumanitoioooo
            a(href="#" target="_blank")
                img(src="assets/img/mail/Artboard.jpg")
    hr 
    row
        columns(small="6" large="6")
            +tile({
                image: "vuilnisbakken",
                discount: "tot-10",
                categorie1: "Op alle",
                categorie2: "vuilnisbakken",
                cta: "wow",
                link: ""
            })
        columns(small="6" large="6")
            +tile({
                image: "opbergen",
                discount: "tot-10",
                categorie1: "op",
                categorie2: "opbergen",
                cta: "Doge",
                link: ""
            })
    hr 
    row
        columns(small="6" large="6")
            +tile-J-test({
                image: "vuilnisbakken",
                discount: "tot-10",
                categorie1: "Test met veel whauw",
                categorie2: "",
                cta: "wow",
                link: ""
            })
        columns(small="6" large="6")
            +tile-J-test({
                image: "opbergen",
                discount: "tot-10",
                categorie1: "Much wow much cool",
                categorie2: "",
                cta: "Doge",
                link: ""
            })
    hr            
    +legals(
       ["Weekdeal geldig van git-push-test t.e.m. ..., zolang de voorraad strekt.", "Voor alle voorwaarden, ga naar collishop.be."]
    )

