extends ./layouts/NL/_layout.pug
include mixins/_c-promo
include mixins/_c-info
include mixins/_A-info
include mixins/_A-promo
include mixins/_promo-prijs
include mixins/_legals

block content
    row.line
        columns(small="12" large="12")
            a(href="https://www.collishop.be/e/nl/cs/kolossale-kortingen" target="_blank" xt="SPCLICKSTREAM" name="kkd")
                img(src="assets/img/mail/kkd-nl.jpg")                                                                                    
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/superkorting-elektro" target="_blank" xt="SPCLICKSTREAM" name="elektro")
                img(src="assets/img/mail/elektro-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›     
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/superkorting-wonen-en-slapen" target="_blank" xt="SPCLICKSTREAM" name="wonen")
                img(src="assets/img/mail/wonen-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/superkorting-terras-en-tuin" target="_blank" xt="SPCLICKSTREAM" name="terras")
                img(src="assets/img/mail/terras-nl.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/superkorting-koken-en-tafelen" target="_blank" xt="SPCLICKSTREAM" name="koken")
                img(src="assets/img/mail/koken-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›

    +legals(
       ["Actie Kolossale Kortingsdagen geldig van 24/04 t.e.m. 07/05/2019. Geldig zolang de voorraad strekt.",
       " Niet cumuleerbaar met andere acties."]
    )