extends ./layouts/_layout.pug
include mixins/_c-promo
include mixins/_c-info
include mixins/_A-info
include mixins/_A-promo
include mixins/_promo-prijs
include mixins/_legals

block content
    row.line
        columns(small="12" large="12")
            h5.centerText Lorem ipsumanitoioooo
            a(href="#" target="_blank")
                img(src="assets/img/mail/testio.jpg")                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    row.line
        columns(small="6" large="6")
            +c-promo({
                image: "vuilnisbakken",
                discount: "tot-10",
                categorie1: "op ALLE",
                categorie2: "vuilnisbakken",
                cta: "wow",
                link: ""
            })
        columns(small="6" large="6")
            +c-promo({
                image: "opbergen",
                discount: "tot-10",
                categorie1: "op",
                categorie2: "opbergen",
                cta: "Doge",
                link: ""
            })
    row.line
        columns(small="6" large="6")
            +c-info({
                image: "blok1-info",
                categorie1: "Test met veel whauw",
                categorie2: "",
                cta: "wow",
                link: ""
            })
        columns(small="6" large="6")
            +c-info({
                image: "blok2-info",
                categorie1: "Much wow much cool",
                categorie2: "",
                cta: "Doge",
                link: ""
            })
    row.line
        columns(small="12" large="12")
            +a-info({
                image: "a-info",
                categorie1: "Dit is een tekstje",
                cta: "wow dit is een cta",
                link: ""
            })
    row.line
        columns(small="12" large="12")
            +a-promo({
                image: "a-promo2",
                categorie1: "Dit is een tekstje",
                cta: "wow dit is een cta",
                link: ""
            })
    row.line
        columns(small="6" large="3")
            +c-info({
                image: "small-1",
                categorie1: "Test met veel whauw",
                categorie2: "",
                cta: "wow",
                link: ""
            })
        columns(small="6" large="3")
            +c-info({
                image: "small-2",
                categorie1: "Much wow  cool",
                categorie2: "",
                cta: "Doge",
                link: ""
            })
        columns(small="6" large="3")
            +c-info({
                image: "small-3",
                categorie1: "Test met veel whauw",
                categorie2: "",
                cta: "wow",
                link: ""
            })
        columns(small="6" large="3")
            +c-info({
                image: "small-4",
                categorie1: "Much wow  cool",
                categorie2: "",
                cta: "Doge",
                link: ""
            })           
    +legals(
       ["Weekdeal geldig van git-push-test t.e.m. ..., zolang de voorraad strekt.", "test"]
    )

