extends ./layouts/FR/_layout-fr.pug
include mixins/_c-promo
include mixins/_c-info
include mixins/_A-info
include mixins/_A-promo
include mixins/_promo-prijs
include mixins/_legalsfr

block content
    row.line
        columns(small="12" large="12")
            a(href="https://www.collishop.be/e/fr/cs/barbecue-bbq#facet:&facetLimit:&productBeginIndex:0&orderBy:&pageView:grid&pageSize:& " target="_blank" xt="SPCLICKSTREAM" name="bbq")
                img(src="assets/img/mail/bbq-fr.jpg")    
    row.line
        h5(style="margin-top: 10px; color:#0098da!important;").centerText.blue Geniet van het gemak van een gas- of elektrische barbecue                                                                          
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/fr/cs/barbecook-barbecue-a-gaz-siesta-612-argente-909171" target="_blank" xt="SPCLICKSTREAM" name="barbecook")
                img(src="assets/img/mail/barbecook-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Meer info ›     
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/fr/cs/barbecues-a-gaz" target="_blank" xt="SPCLICKSTREAM" name="gas")
                img(src="assets/img/mail/gas-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/fr/cs/909579-168-weber-barbecue-electrique-q-1400-dark-grey-3069464" target="_blank" xt="SPCLICKSTREAM" name="weber")
                img(src="assets/img/mail/weber-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Meer info ›     
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/fr/cs/barbecues-electriques" target="_blank" xt="SPCLICKSTREAM" name="elek")
                img(src="assets/img/mail/elek-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
    row.line
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/fr/cs/dormir-promos#facet:&facetLimit:&productBeginIndex:0&orderBy:5&pageView:grid&minPrice:&maxPrice:&pageSize:&" target="_blank" xt="SPCLICKSTREAM" name="slapen")
                img(src="assets/img/mail/slapen-fr.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/fr/cs/electro-promos#facet:&facetLimit:&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:&" target="_blank" xt="SPCLICKSTREAM" name="elektro")
                img(src="assets/img/mail/elektro-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/fr/cs/promotions-animaux#facet:&facetLimit:&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:&" target="_blank" xt="SPCLICKSTREAM" name="dieren")
                img(src="assets/img/mail/dieren-fr.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu ›
        columns(small="6" large="3")
            a(href="https://www.collishop.be/e/fr/cs/promos#facet:&facetLimit:&productBeginIndex:0&orderBy:&pageView:grid&pageSize:&" target="_blank" xt="SPCLICKSTREAM" name="promoties")
                img(src="assets/img/mail/promoties-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk het overzicht ›
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/fr/cs/938047-172-sechoir-tour-avec-3-surfaces-detendage-2747207" target="_blank" xt="SPCLICKSTREAM" name="droogtoren")
                img(src="assets/img/mail/droogtoren-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Meer info › 
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/fr/cs/taches-menageres-promos#facet:&facetLimit:&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:&" target="_blank" xt="SPCLICKSTREAM" name="huishouden")
                img(src="assets/img/mail/huishouden-fr.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Bekijk nu › 
    row.line
        p(style="color: #0098da; font-size: 16px; text-align: center; margin-top: 10px; margin-bottom: 2px;").centerText Vous êtes déjà au courant ?  <br/>Du 24/04 au 07/05/2019 inclus, ce sont les <strong>Journées Colossales</strong>.
        p(style="color: #FF2D82; font-size: 18px;text-align: center;").centerText <strong>Jusqu'à - 50 % sur + de 2000 articles !</strong>
        
    +legalsfr(
       ["Actions et prix promo valables du 10/04 au 23/04/2019 inclus. Non cumulable avec d'autres actions.", 
       "Offre de la semaine valable du 15/04 au 21/04/2019 inclus, jusqu'à épuisement du stock.",]
    )

