extends ./layouts/NL/_layout.pug
include mixins/_c-promo
include mixins/_c-info
include mixins/_A-info
include mixins/_A-promo
include mixins/_promo-prijs
include mixins/_legals

block content
    //- A BLOK
    row.line
        columns(small="12" large="12")
            a(href="https://www.collishop.be/e/nl/cs/barbecook-gasbarbecue-siesta-612-zilver-909171" target="_blank" xt="SPCLICKSTREAM" name="bbq")
                img(src="assets/img/mail/bbq-nl.jpg")
    //- J BLOK                                                                             
    row.line 
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/barbecook-gasbarbecue-siesta-612-zilver-909171" target="_blank" xt="SPCLICKSTREAM" name="barbecook")
                img(src="assets/img/mail/barbecook-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Meer info ›     
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/gasbarbecues" target="_blank" xt="SPCLICKSTREAM" name="gas")
                img(src="assets/img/mail/gas-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›
    //- J BLOK
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/weber-elektrische-barbecue-q-1400-dark-grey-909579" target="_blank" xt="SPCLICKSTREAM" name="weber")
                img(src="assets/img/mail/weber-nl.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Meer info ›
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/elektrische-barbecues" target="_blank" xt="SPCLICKSTREAM" name="elek")
                img(src="assets/img/mail/elek-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›
    //- A BLOK
    row.line
        columns(small="12" large="12")
            a(href="https://www.collishop.be/e/nl/cs/938047-172-droogtoren-met-3-droogvlakken-2747207" target="_blank" xt="SPCLICKSTREAM" name="weekdeal")
                img(src="assets/img/mail/weekdeal-nl.jpg")                                                   

    +legals(
       ["Actie -10% op Barbecue geldig van 10/04 t.e.m. 23/04/2019.",
       " Weekaanbieding geldig van 15/04 t.e.m. 21/04/2019, zolang de voorraad strekt."]
    )

//- 
    Als er een probleem is met de npm zijn er hier enkele s