extends ./layouts/FR/_layout-fr.pug
include mixins/_c-promo
include mixins/_c-info
include mixins/_A-info
include mixins/_A-promo
include mixins/_promo-prijs
include mixins/_legalsfr

block content
    row.line
        columns(small="12" large="12")
            h5.centerText Lorem ipsumanitoioooo
            a(href="#" target="_blank")
                img(src="assets/img/mail/reiskoffers-nl.jpg")    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    row.line
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/Houtskoolbarbecue-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Tis but a test ›     
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/Barbecues-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Tis but a test ›
    row.line
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/Houtskoolstarter-nl.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Tis but a test ›
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/accessoires-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Tis but a test ›
    row.line
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/week-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.red
                        p.centerText Tis but a test › 
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/droogmolens-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.blue
                        p.centerText Tis but a test ›  
    row.line
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/NewStory-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.blue
                        p.centerText Tis but a test ›  
        columns(small="6" large="6")
            a(href="#" target="_blank")
                img(src="assets/img/mail/Paaseierenzoektocht-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.blue
                        p.centerText Tis but a test ›  
    row.line
        columns(small="12" large="12")
            +a-promo({
                image: "a-promo2",
                categorie1: "Dit is een tekstje",
                cta: "wow dit is een cta",
                link: ""
            })
             
    +legalsfr(
       ["Actie -15% op reiskoffers, trolleys en reistassen geldig van 21/03 t.e.m. 22/04/2019.", 
       "Actie -10% op alle barbecues en accessoires geldig van 10/04 t.e.m. 23/04/2019.",
       "Actie -10% op Kinder en jeugdkamers geldig van 19/03 t.e.m. 22/04/2019.",
       "Weekdeal geldig van 15/04 t.e.m. 21/04/2019."]
    )

