extends ./layouts/FR/_layout-fr.pug
include mixins/_c-promo
include mixins/_c-info
include mixins/_A-info
include mixins/_A-promo
include mixins/_promo-prijs
include mixins/_legals

block content
    row.line
        columns(small="12" large="12")
            a(href="https://www.collishop.be/e/nl/cs/barbecook-gasbarbecue-siesta-612-zilver-909171" target="_blank" xt="SPCLICKSTREAM" name="bbq")
                img(src="assets/img/mail/bbq-nl.jpg")                                                                                    
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/barbecook-gasbarbecue-siesta-612-zilver-909171" target="_blank" xt="SPCLICKSTREAM" name="barbecook")
                img(src="assets/img/mail/barbecook-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›     
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/gasbarbecues" target="_blank" xt="SPCLICKSTREAM" name="gas")
                img(src="assets/img/mail/gas-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›
    row.line
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/weber-elektrische-barbecue-q-1400-dark-grey-909579" target="_blank" xt="SPCLICKSTREAM" name="weber")
                img(src="assets/img/mail/weber-nl.jpg")  
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›
        columns(small="6" large="6")
            a(href="https://www.collishop.be/e/nl/cs/elektrische-barbecues" target="_blank" xt="SPCLICKSTREAM" name="elek")
                img(src="assets/img/mail/elek-nl.jpg")
                wrapper.tile
                    span.spacer
                    wrapper.btn.pink
                        p.centerText Bekijk nu ›
    row.line
        columns(small="12" large="12")
            a(href="https://www.collishop.be/e/nl/cs/938047-172-droogtoren-met-3-droogvlakken-2747207" target="_blank" xt="SPCLICKSTREAM" name="weekdeal")
                img(src="assets/img/mail/weekdeal-nl.jpg")                                                   

    +legals(
       ["Actie Kolossale Kortingsdagen geldig van 24/04 t.e.m. 07/05/2019. Geldig zolang de voorraad strekt.",
       " Niet cumuleerbaar met andere acties."]
    )