wrapper.footer.container
        wrapper.inside
            row.widthFix
                columns(small="4" large="4")
                    a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM" name="colruyt_logo")
                        img.autoImg.footerLogo(src="assets/img/icon/colruyt-logo.png" alt="colruyt_logo")
                columns.social(small="5" large="4")
                    a(href="https://www.facebook.com/ColliShop.be/" target="_blank" xt="SPCLICKSTREAM" name="facebook")
                        img.autoImg(src="./assets/img/icon/facebook.png")
                    a(href="https://twitter.com/collishop_fr" target="_blank" xt="SPCLICKSTREAM" name="twitter") 
                        img.autoImg(src="./assets/img/icon/twitter.png")
                    a(href="www.instagram.com/collishop.be/" target="_blank" xt="SPCLICKSTREAM" name="instagram") 
                        img.autoImg(src="./assets/img/icon/instagram.png")
                columns(small="3" large="4")
                    p 
                        a(href="https://monxtra.be/xtra/fr/declaration-de-confidentialite" target="_blank" xt="SPCLICKSTREAM" name="Privacyverklaring")   Déclaration de confidentialité <br/>
                        a(href="https://www.collishop.be/e/fr/cs/newsletteroptout?xtraUnsub=1231-%%CBHID%%-%%EMAIL%%" target="_blank" xt="SPCLICKSTREAM" name="uitschrijven")   Se désinscrire
