wrapper.top
    row
        columns(small="12" large="12")
            p.preview.centerText Profiteer nog snel van onze solden op Slapen!
            p.bekijk.centerText Si cet e-mail ne s'affiche pas correctement, 

                a(href="nietleesbaar_fr") cliquez ici.
wrapper.header
    wrapper.inside
        a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM" name="logo_collishop")
            img.autoImg(src="./assets/img/icon/logo-wit.png")