wrapper.top
    p.preview.centerText Uniquement cette semaine : séchoir-tour à € 19,95 à la place de € 39,95 !
    p.bekijk.centerText Si cet e-mail ne s'affiche pas correctement, 
        a(href="nietleesbaar_fr") cliquez ici.
wrapper.header
    wrapper.inside
        a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM" name="logo_collishop")
            img.autoImg(src="./assets/img/icon/logo-wit.png")