wrapper.first-footer
    row.usp-line.hide
        columns(small="4" large="4")
            a
                div.usp
                    a
                        img.autoImg(src="./assets/img/icon/prct.jpg")
                    a(href="https://www.collishop.be/e/fr/cs/toutes-nos-actions" target="_blank" xt="SPCLICKSTREAM" name="altijd_straffe_promos")  Toujours de <br> super-promos
        columns(small="4" large="4")
            a
                div.usp
                    a
                        img.autoImg(src="./assets/img/icon/location.jpg")
                    a(href="https://www.collishop.be/e/fr/cs/magasins" target="_blank" xt="SPCLICKSTREAM" name="vlakbij_afhalen")  Toujours un point d’enlèvement à proximité
        columns(small="4" large="4")
            a
                div.usp
                    a
                        img.autoImg(src="./assets/img/icon/box.jpg")
                    a(href="https://www.collishop.be/e/fr/cs/collishop-offline" target="_blank" xt="SPCLICKSTREAM" name="betalen_bij_afhalen")  Payez seulement lors de l’enlèvement
    wrapper.vragen
        h6 Heb je vragen?
        row.info
            columns(small="12" large="4")
                a
                    div.vragen-div
                        a
                            img.autoImg(src="./assets/img/icon/text-balloon.png")
                        a(href="https://www.collishop.be/e/fr/cs/faq-questions-frequentes" target="_blank" xt="SPCLICKSTREAM" name="FAQ")  FAQ
            columns(small="12" large="4")
                a
                    div.vragen-div
                        a
                            img.autoImg(src="./assets/img/icon/mail.png")
                        a(href="www.collishop.be/e/fr/cs/contact-form" target="_blank" xt="SPCLICKSTREAM" name="contactformulier")  Formulaire de contact
            columns(small="12" large="4")
                a
                    div.vragen-div
                        a
                            img.autoImg(src="./assets/img/icon/phone.png")
                        a  Au  02 363 50 60
            