wrapper.first-footer
    row.usp-line.hide
        columns(small="4" large="4")
            a(href="https://www.collishop.be/e/nl/cs/overzicht-acties" target="_blank" xt="SPCLICKSTREAM" name="altijd_straffe_promos")
                div.usp
                    a
                        img.autoImg(src="./assets/img/icon/prct.jpg")
                    a  Altijd straffe promo's
        columns(small="4" large="4")
            a(href="https://www.collishop.be/e/nl/cs/winkels" target="_blank" xt="SPCLICKSTREAM" name="vlakbij_afhalen")
                div.usp
                    a
                        img.autoImg(src="./assets/img/icon/location.jpg")
                    a  Vlakbij afhalen
        columns(small="4" large="4")
            a(href="https://www.collishop.be/e/nl/cs/collishop-offline-afhalen" target="_blank" xt="SPCLICKSTREAM" name="betalen_bij_afhalen")
                div.usp
                    a
                        img.autoImg(src="./assets/img/icon/box.jpg")
                    a  Betalen bij afhalen
    wrapper.vragen
        h6 Heb je vragen?
        row.info
            columns(small="12" large="4")
                a(href="https://www.collishop.be/e/nl/cs/faq-veelgestelde-vragen" target="_blank" xt="SPCLICKSTREAM" name="FAQ")
                    div.vragen-div
                        a
                            img.autoImg(src="./assets/img/icon/text-balloon.png")
                        a  FAQ
            columns(small="12" large="4")
                a(href="https://www.collishop.be/e/nl/cs/contact-form" target="_blank" xt="SPCLICKSTREAM" name="contactformulier")
                    div.vragen-div
                        a
                            img.autoImg(src="./assets/img/icon/mail.png")
                        a  Contactformulier
            columns(small="12" large="4")
                a
                    div.vragen-div
                        a
                            img.autoImg(src="./assets/img/icon/phone.png")
                        a  Op  02 363 50 60
            