wrapper.hide
       wrapper.half
            center    
                menu
                    item(href="https://www.collishop.be/e/fr/cs/amenagement-interieur" target="_blank" xt="SPCLICKSTREAM" name="wonen_en_slapen") 
                        span Habitat et Literie
                    item(href="https://www.collishop.be/e/fr/cs/cuisine-et-arts-de-la-table" target="_blank" xt="SPCLICKSTREAM" name="koken_en_tafelen") Cuisine et Arts de la table
                    item(href="https://www.collishop.be/e/fr/cs/electro" target="_blank" xt="SPCLICKSTREAM" name="elektro") Electro
                    item(href="https://www.collishop.be/e/fr/cs/terrasse-et-jardin" target="_blank" xt="SPCLICKSTREAM" name="terrase_en_tuin") Terrasse et Jardin
                    item(href="https://www.collishop.be/e/fr/cs/taches-menageres" target="_blank" xt="SPCLICKSTREAM" name="huishouden") Tâches ménagères
                        //-item.last(href="https://www.collishop.be/e/fr/cs/rangement" target="_blank" xt="SPCLICKSTREAM") Rangement
                        //- item(href="https://www.collishop.be/e/nl/cs/opbergen" target="_blank") Opbergen
                        //- item(href="https://www.collishop.be/e/nl/cs/gaming-en-multimedia" target="_blank") Gaming en Multimedia
