wrapper.footer.container
        wrapper.inside
            row.widthFix
                columns(small="4" large="4")
                    a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM" name="Privacyverklaring")
                        img.autoImg.footerLogo(src="assets/img/icon/colruyt-logo.png" alt="colruyt-logo")
                columns.social(small="5" large="4")
                    a(href="https://www.facebook.com/ColliShop.be/" target="_blank" xt="SPCLICKSTREAM" name="facebook")
                        img.autoImg(src="./assets/img/icon/facebook.png")
                    a(href="https://twitter.com/collishop_nl" target="_blank" xt="SPCLICKSTREAM" name="twitter") 
                        img.autoImg(src="./assets/img/icon/twitter.png")
                    a(href="www.instagram.com/collishop.be/" target="_blank" xt="SPCLICKSTREAM" name="instagram") 
                        img.autoImg(src="./assets/img/icon/instagram.png")
                columns(small="3" large="4")
                    p 
                        a(href="https://mijnxtra.be/xtra/nl/privacyverklaring" target="_blank" xt="SPCLICKSTREAM" name="Privacyverklaring")   Privacyverklaring 
                        <span class="hide">|</span> 
                        a(href="https://www.collishop.be/e/nl/cs/newsletteroptout?xtraUnsub=1231-%%CBHID%%-%%EMAIL%%" target="_blank" xt="SPCLICKSTREAM" name="uitschrijven")   Afmelden
