wrapper.hide
       wrapper.half
            center    
                menu
                    item(href="https://www.collishop.be/e/nl/cs/wonen" target="_blank" xt="SPCLICKSTREAM" name="wonen_en_slapen") 
                        span Wonen en Slapen
                    item(href="https://www.collishop.be/e/nl/cs/koken-en-tafelen" target="_blank" xt="SPCLICKSTREAM" name="koken_en_tafelen") Koken en Tafelen
                    item(href="https://www.collishop.be/e/nl/cs/elektro" target="_blank" xt="SPCLICKSTREAM" name="elektro") Elektro
                    item(href="https://www.collishop.be/e/nl/cs/terras-en-tuin" target="_blank" xt="SPCLICKSTREAM" name="terrase_en_tuin") Terras en Tuin
                    item(href="https://www.collishop.be/e/nl/cs/huishouden" target="_blank" xt="SPCLICKSTREAM" name="huishouden") Huishouden
                    item.last(href="https://www.collishop.be/e/nl/cs/opbergen" target="_blank" xt="SPCLICKSTREAM" name="opbergen") Opbergen
                        //- item(href="https://www.collishop.be/e/nl/cs/opbergen" target="_blank") Opbergen
                        //- item(href="https://www.collishop.be/e/nl/cs/gaming-en-multimedia" target="_blank") Gaming en Multimedia
