.footer .wrapper-inner
    background-color: $collishop-blue
    padding-top: 15px
    *
        margin: auto
        text-align: center
        color: white
    h6
        font-weight: lighter
        margin-top: 3px
    .wrapper
        margin-top: 10px
        .footerWithImg img
            display: inline-block
            margin: 0 10px
            width: 16px
            height: auto
        p
            display: block
            padding: 5px 20px
            background-color: #ffffff
            box-shadow: 4px 4px 4px #f2f2f2
.first-footer
    .logo
        img
            width: 60%

    .inline *
        display: inline
        img
            margin-right: 5px
            width: 10%
