.footer .wrapper-inner
    *
        text-align: center
    .wrapper
        margin-top: 10px
    p
        text-align: right
        font-size: 11px
.footer .wrapper-inner columns
   display: inline-block
.first-footer .row
    .image
        display: inline
    .ondertitel
        margin-left: 25px
    th * img , p, h6
            display: inline
    img
        margin-right: 7px

.footer
    .inside
        width: 580px
    .social img
        display: inline
        margin-left: 10px
        margin-right: 10px
span.phone a
        color: #333333!important   
        text-decoration: none!important
span.phone
        color: #333333!important   
        text-decoration: none!important
.usp
    text-align: center
.vragen
    background-color: #0098da
    padding-top: 8px
    .info
        background-color: #0098da
    p , h6
        color: white
    .vragen-div
        text-align: center
.first-footer
    border-top: solid 2px #f3f3f3
    h6
        margin-bottom: 7px
        margin-left: 15px
        font-size: 16px
        font-weight: bold
.usp-line
    padding-top: 10px !important
    th.columns
        padding-bottom: 0
.floattest
    float: left