.top
    margin-top: 7px
    .preview
        font-size: 12px
        margin: 0 0 4px 0
    .bekijk
        font-size: 10px
.header
    .wrapper-inner
        background-color: $collishop-blue
        align-items: top
        img
            padding: 10px 20px 0px 0
            width: 22%
            display: inline-block
            height: auto
            @media screen and (max-width: 576px)
                width: 30%!important
                padding-top: 10px
                padding-left: 15px!important
                padding-bottom: 10px
        .columns
            padding-bottom: 0
    .inside
        width: 580px
        @media screen and (max-width: 576px)
            width: 100%
        .first
            padding-left: 0
        .last
            padding-right: 0

.menu table
    margin: auto
    margin-bottom: 10px
    color: #0098da
    @media screen and (max-width: 576px)
        margin-top: 10px
table.menu
    th.menu-item
        cursor: pointer
        padding: 10px 5px 2px 5px
        text-align: center
        @media screen and (max-width: 576px)
            width: 47%!important
            padding: 0 0 10px 0
            margin-bottom: 3px

    a
        color: $collishop-blue
    &:hover a
        color: $dark-blue
