.top
    margin-top: 5px
    .preview
        font-size: 12px
        margin: 0 0 4px 0
    .bekijk
        font-size: 11px
    
.header
    .wrapper-inner
        width: 580px
        background-color: $collishop-blue
        align-items: top
        .first
            padding: 0
        img
            padding: 10px 20px 0px 0px
            width: 25%
            display: inline-block
            height: auto
            @media screen and (max-width: 576px)
                width: 55% !important
                padding: 10px 0 0 0
        .columns
            padding-bottom: 0
        .social
            img 
                width: 55%
                padding: 10px 20px 0px 25px
                @media screen and (max-width: 576px)
                    width: 17% !important
                    padding: 10px 0px 0px 17px
    .inside
        width: 580px


.menu table
    margin: auto
table.menu
    margin: auto
    background: white
    th.menu-item
        cursor: pointer
        padding: 2px 5px 2px 5px
        @media screen and (max-width: 576px)
            width: auto !important
        a
            color: $collishop-blue
            font-size: 11px
        &:hover a
            color: $dark-blue





