// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body
  background: #f3f3f3 !important

body, table.body, p, td, th
  font-size: 10pt

.body-drip
  border-top: 8px solid #663399

.wrapper.secondary
  background: #f3f3f3

table.body .columns, table.body .column
  @media only screen and (max-width: 596px)
    padding-left: 5px !important
    padding-right: 5px !important