wrapper.first-footer
    row
        columns(small="9" large="1")
            img(src="./assets/img/icon/location.jpg")
        columns(small="9" large="3")
            p.blue Meer dan 350 afhaalpunten
        columns(small="9" large="1")
            img(src="./assets/img/icon/varken.jpg")
        columns(small="9" large="3")
            p.blue Nergens zo<br>goedkoop
        columns(small="9" large="2")
            img(src="./assets/img/icon/truck2.jpg")
        columns(small="9" large="2")
            p.blue Levering <br>aan huis