wrapper.footer
        container
                columns(small="4" large="3")
                    img(src="assets/img/icon/colruyt-logo.png" alt="colruyt-logo")
                columns(small="8" large="9")
                    p © Colruyt Group 2018 | Privacycharter XTRA