wrapper.footer
    row
        img(src="assets/img/icon/colruyt-logo.png", alt="colruyt-logo")
        h5 Privacycharter Colruyt Group
        p ColliShop is afdeling van Etn. Fr. Colruyt nv. Edingensesteenweg 196, 1500 Halle.
        p BTW: BE-0400-378-485