wrapper.footer
        wrapper.inside
            row
                columns(small="4" large="4")
                    img.autoImg.footerLogo(src="assets/img/icon/colruyt-logo.png" alt="colruyt-logo")
                columns.social(small="4" large="4")
                    img.autoImg(src="./assets/img/icon/facebook.png")
                    img.autoImg(src="./assets/img/icon/twitter.png")
                    img.autoImg(src="./assets/img/icon/insta.png")
                columns(small="4" large="4")
                    p Privacyverklaring<br> Afmelden
