wrapper.top
    row
        columns(small="12" large="12")
            p.preview.centerText Profiteer nog snel van onze solden op Slapen!
            p.bekijk.centerText Als deze mail niet duidelijk leesbaar is, 
                a(href="nietleesbaar_nl") klik dan hier
wrapper.header
    wrapper.inside
        a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
            img.autoImg(src="./assets/img/icon/logo-wit.png")