wrapper.top
    row
        p.preview.centerText Profiteer nog snel van onze solden op Slapen!
        p.bekijk.centerText Als deze mail niet duidelijk leesbaar is, 
            a(href="nietleesbaar_nl") klik dan hier
wrapper.header
    wrapper.inside
        row
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                img(src="./assets/img/icon/logo-wit.png")