doctype html
html
    head
        link(rel="stylesheet" href="css/mail.css")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width")
        // <style>
    body
        table.body
            tr
                td
                    block header
                        wrapper
                                include ./_header.pug
                    container
                        block content

                        block footer
                            include ./_footer.pug

