spacer.line
wrapper.first-footer
    row.info.hide
        columns(small="4" large="4")
            div
                div.image
                    img(src="./assets/img/icon/text-balloon.png")
                p FAQ
            div.ondertitel
                p Raadpleeg onze <br>veelgestelde vragen
        columns(small="4" large="4")
            div
                div.image
                    img(src="./assets/img/icon/phone.jpg")
                p Op 02 363 50 60
            div.ondertitel
                p Van 8 tot 22 u., 7/7
        columns(small="4" large="4")
            div
                div.image
                    img(src="./assets/img/icon/mail.png")
                p  Contactformulier
            div.ondertitel
                p Binnen de 24 u helpen <br>we je verder!
    spacer.line.hide