wrapper.first-footer
    row.info
        h6 Heb je vragen?
        columns(small="12" large="4")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")    
                div
                    div.image
                        img.autoImg(src="./assets/img/icon/text-balloon.png")
                    p FAQ
                div.ondertitel
                    p Raadpleeg onze <br class="hide"> veelgestelde vragen
        columns(small="12" large="4")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")    
                div
                    div.image
                        img.autoImg(src="./assets/img/icon/phone.jpg")
                    p Op  02 363 50 60
                div.ondertitel
                    p Van 8 tot 22 u., 7/7
        columns(small="12" large="4")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                div
                    div.image
                        img.autoImg(src="./assets/img/icon/mail.png")
                    p  Contactformulier
                div.ondertitel
                    p Binnen de 24 u helpen <br class="hide"> we je verder!
    row.info.usp-line
        columns(small="6" large="3")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")    
                div.usp
                    div.image
                        img.autoImg(src="./assets/img/icon/star.jpg")
                    p Kies met advies
        columns(small="6" large="3")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")    
                div.usp
                    div.image
                        img.autoImg(src="./assets/img/icon/prct.jpg")
                    p Altijd straffe promo's
    row.info
        columns(small="6" large="3")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                div.usp
                    div.image
                        img.autoImg(src="./assets/img/icon/location.jpg")
                    p  Vlakbij afhalen
        columns(small="6" large="3")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                div.usp
                    div.image
                        img.autoImg(src="./assets/img/icon/box.jpg")
                    p  Betalen bij afhalen

