hr
wrapper.first-footer
    row
        columns(small="9" large="1")
            img(src="./assets/img/icon/location.jpg")
        columns(small="9" large="3")
            p.blue Meer dan 350 afhaalpunten
        columns(small="9" large="1")
            img(src="./assets/img/icon/varken.jpg")
        columns(small="9" large="3")
            p.blue Nergens zo<br>goedkoop
        columns(small="9" large="2")
            img(src="./assets/img/icon/truck2.jpg")
        columns(small="9" large="2")
            p.blue Levering <br>aan huis
    hr
    row
        columns.email.inline(small="9" large="4")
                img(src="./assets/img/icon/email-blue.png")
                h6.blue info@collishop.be
                    
        columns(small="3" large="2")
                columns.social(small="1" large="1")
                columns.social(small="3" large="3")
                    a(href="https://www.facebook.com/ColliShop.be/" target="_blank" xt="SPCLICKSTREAM" name="facebook")
                        img(src="./assets/img/icon/facebook-g.jpg")
                columns.social(small="1" large="1")
                columns.social(small="3" large="3")
                    a(href="https://twitter.com/collishop_nl" target="_blank" xt="SPCLICKSTREAM" name="twitter")
                        img(src="./assets/img/icon/twitter-g.jpg")
                columns.social(small="1" large="1")
                columns.social(small="3" large="3")
                    a(href="https://www.instagram.com/collishop.be/" target="_blank" xt="SPCLICKSTREAM" name="instagram")
                        img(src="./assets/img/icon/instagram-g.jpg")
        columns.phone.inline(small="9" large="4")
            h6.blue 02 363 50 60
            div
                img(src="./assets/img/icon/phone-blue-4.png")
                



        
