hr
wrapper.first-footer
    row.info.hide
        columns(small="4" large="4")
            img(src="./assets/img/icon/location.jpg")
            p.blue Meer dan 350<br> afhaalpunten
        columns(small="4" large="4")
            img(src="./assets/img/icon/varken.jpg")
            p.blue Nergens zo<br>goedkoop
        columns(small="4" large="4")
            img.truck(src="./assets/img/icon/truck2.jpg")
            p.blue Levering <br>aan huis
    hr
    row.info
        columns(small="4" large="4")
            img(src="./assets/img/icon/email-blue.png")
            h6.blue info@collishop.be
        columns(small="4" large="4")
            img(src="./assets/img/icon/facebook-g.jpg")
            img(src="./assets/img/icon/twitter-g.jpg")
            img(src="./assets/img/icon/instagram-g.jpg")
        columns(small="4" large="4")
            img(src="./assets/img/icon/phone-blue-4.png")
            h6.blue 02 363 50 60