wrapper.first-footer
    row.usp-line.hide
        columns(small="12" large="4")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")    
                div.usp
                    div.image
                        img.autoImg(src="./assets/img/icon/prct.jpg")
                    p Altijd straffe promo's
        columns(small="12" large="4")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                div.usp
                    div.image
                        img.autoImg(src="./assets/img/icon/location.jpg")
                    p  Vlakbij afhalen
        columns(small="12" large="4")
            a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                div.usp
                    div.image
                        img.autoImg(src="./assets/img/icon/box.jpg")
                    p  Betalen bij afhalen
    wrapper.vragen
        h6 Heb je vragen?
        row.info
            columns(small="6" large="4")
                a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                    div.vragen-div
                        div.image
                            img.autoImg(src="./assets/img/icon/text-balloon.png")
                        span  FAQ
            columns(small="6" large="4")
                a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                    div.vragen-div
                        div.image
                            img.autoImg(src="./assets/img/icon/mail.png")
                        p  Contactformulier
            columns(small="12" large="4")
                a(href="https://www.collishop.be" target="_blank" xt="SPCLICKSTREAM")
                    div.vragen-div
                        div.image
                            img.autoImg(src="./assets/img/icon/phone.png")
                        p Op  02 363 50 60
            