wrapper
       wrapper.half
            center    
                menu
                    item(href="https://www.collishop.be/e/nl/cs/wonen" target="_blank") 
                        span Wonen en Slapen
                    item(href="https://www.collishop.be/e/nl/cs/elektro" target="_blank") Koken en Tafelen
                    item(href="https://www.collishop.be/e/nl/cs/huishouden" target="_blank") Elektro
                    item(href="https://www.collishop.be/e/nl/cs/koken-en-tafelen" target="_blank") Mooi en Gezond
                    item(href="https://www.collishop.be/e/nl/cs/terras-en-tuin" target="_blank") Huishouden
                    item.last(href="https://www.collishop.be/e/nl/cs/mooi-en-gezond" target="_blank") Opbergen
                        //- item(href="https://www.collishop.be/e/nl/cs/opbergen" target="_blank") Opbergen
                        //- item(href="https://www.collishop.be/e/nl/cs/gaming-en-multimedia" target="_blank") Gaming en Multimedia
