mixin legalsfr(legalsfr)
    wrapper.legalsfr
        - var legals = legalsfr
        each legal in legalsfr
            p.centerText= legalfr
        p.centerText Retrouvez toutes les conditions de nos actions sur <a href="https://www.collishop.be/e/fr/cs/" target="_blank" xt="SPCLICKSTREAM">collishop.be.<a>
         