mixin legals(legals)
    wrapper.legals
        - var legals = legals
        each legal in legals
            p.centerText= legal
        p.centerText Voor alle voorwaarden, ga naar <a href="https://www.collishop.be/e/nl/cs" target="_blank" xt="SPCLICKSTREAM">collishop.be.<a>